.center-button span{
    position: relative;
    display: inline-flex;
    width: 280px;
    height: 110px;
    margin: 0 15px;
    perspective: 1000px;
  }
  .center-button span a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
    
  }
  .center-button span a:before,
  .center-button span a:after{
    position: absolute;
    content: "PROGRAM SCHEDULE";
    height: 90px;
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #00455A;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .center-button span a:before{
    color: #fff;
    background: #DDC558;
    border:none;
    /*transform: rotateY(0deg) translateZ(25px);*/
  }
  .center-button span a:after{
    color: #00455A;
    transform: rotateX(90deg) translateZ(25px);
    transition-duration:0.01s;
  } 
  .center-button span a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }