.btn {
    position: relative;
    width:300px;
    height:70px;
    left: 50%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #00455A;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    margin-top: 60px;
  } 